//- /*
//- File Name: error.pug
//- Author: Jakub Sykora Nicholas Gardner
//- Website: https://ticketsystem2106.herokuapp.com/
//- Description: view for the error page
//- */

extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
